{% extends 'base.html.twig' %}
{%  block body %}
    <h1>Channel "{{ channel }} details</h1>
    <div>
        {% autoescape false %}
            {{ graph }}
        {% endautoescape %}
    </div>
{% endblock %}